#bio{
    background-color: #1c2051e0;

    grid-area: bio;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 3px;

    padding: 1rem;

    text-align: left;
    font-size: 18px;
}

#projects{
    grid-area: projects;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;

    padding: 0.5rem;
}

.project {
    background-color: #1c2051e0;
    border-radius: 3px;

    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 4rem;

    padding: 1rem;

    text-align: center;

}

#bio #current
{
    text-align: center;
}

@media screen and (min-width: 601px){
    .project {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    #bio
    {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

@media screen and (min-width: 1201px){
    .project {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    #bio
    {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}


.project p, .project h4, .project img{
    margin-top: -0.25rem;
    margin-bottom: 0.5rem;
    text-align: left;
}
.date{
    margin-top: 0.5rem;
}


#contact h3{
    margin-top: -0.25rem;
}

#contact a:link, a:visited, a:focus {
    color: rgb(229, 228, 236);
}
#contact a:hover, a:active{
    color: rgb(189, 229, 253);
}

/* PROJECTS */
#neo-versailles {
    height: auto;
} 

#directX-11 {
    height: auto;
} 

#changeling {
    height: auto;
} 


#game-jam {
    height: auto;
} 

#projects h1{
    margin-top: -0.25rem;
}

#projects img{
    width: 100%;
}
@media screen and (min-width: 758px){
    #projects img{
        width: 100%;
    }
}

#projects .youtube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
#projects .youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#projects video {
    width: 100%;
    height: 100%;
}

.project a:link, .project a:visited {
    color: rgb(191, 218, 243);
    text-decoration: none;
} 
.project a:focus{
    color: rgb(235, 231, 241);
    text-decoration-line: underline;
} 
.project a:hover{
    color: rgb(113, 191, 255);
    text-decoration-line: underline;
}
.project a:active{
    color: rgb(176, 237, 255);
    text-decoration: none;
}
