*{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
body{
  color: rgb(235, 232, 240);    
  margin: 3rem;

  display: grid;
  grid-template-areas: 
  "header     header      header      header"
  "bio        bio     bio     bio"
  "contact    contact     contact     contact"
  "projects   projects    projects        projects"
  "projects   projects    projects        projects"
  "footer     footer      footer      footer";

  font-family: 'Source Sans Pro, sans-serif';
}

@media screen and (min-width: 860px)
{
  body{
    grid-template-areas: 
    "header     header      header      header"
    "bio        bio         empty     contact"
    "projects   projects    projects     projects"
    "projects   projects    projects     projects"
    "footer     footer      footer      footer";
  }
}

@media screen and (max-width: 470px)
{
  .subpageLink {
    padding-left: 20%;
  }
}

header{
  background-color: #19234c;

  grid-area: header;

  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -3rem;
  margin-bottom: 0.5rem;

  padding: 0.5rem;
  padding-bottom: 0.4rem;
}

.navigation {
  display: inline-grid;
  grid-template-columns: "projects" "academics" "about";
  column-gap: 0.5rem;
}

#title{
  margin-left: 0.5rem;
  margin-bottom: -1rem;
  margin-top: -1rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: #19234c;
  color: rgb(232, 229, 236);

  margin-left: 0.5rem;
  padding: 16px;
  padding-top: 5px;

  font-size: 20px;

  border: none;
  cursor: pointer;
  border-radius: 3px;

  width: 6rem;
  height: 2rem;

  grid-area: projects;
  grid-column-start: 0;
  grid-column-end: 1;
  }

.dropbtn:hover, .dropbtn:focus {
  background-color: #19234c;
  color: rgb(232, 229, 236);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #1f2b5a;
  border: #6358a1;

  border-radius: 5px;
  min-width: 160px;

  margin-left: 0.5rem;
  width: 10rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;

  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1e2c5c;
  border-radius: 3px;
}
.show {display:block;}

.subpageLink a{
  text-decoration: none;
  font-size: 20px;
}
.subpageLink a:focus{
  text-decoration-line: underline;
} 
.subpageLink a:hover{
  text-decoration-line: underline;
}

/* Standard Links */
a{
  text-decoration: none;
}
a:link, a:visited{
  color: #e0beff;
} 
a:focus{
  color: #b893fc;
  text-decoration-line: underline;
} 
a:hover{
  color: rgb(208, 140, 240);
  text-decoration-line: underline;
}
a:active{
  color: #e8acf0;
}

h1, h2, h3, h4{
  font-family: 'Rowdies', cursive;
  font-weight: normal;
  font-size: 27px;
}

h2{
  margin-top: 4rem;
}

h4{
  font-size: 20px;
}

#bio h4{
  margin-bottom: 0.25rem;
}

#bio a{
  font-size: 20px;
  text-decoration: none;
}

img{
  border-radius: 3px;
  border: #22305c;
  border-style: solid;
  border-width: 3px;
}

header img{
  float: right;
  width: 8rem;

  margin-bottom: -.25rem;
  margin-right: -.5rem;
  border-radius: 0px;
  border: none;
}
#academics {
  grid-area: academics;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: -30px;
  margin-left: 27%;
}

#academics a:visited, #academics a:link{
  color: rgb(232, 229, 236);
}

h1 a {
  font-family: 'Rowdies', cursive;
  font-weight: normal;
  font-size: 27px;
  text-decoration: none;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid;
}
td {
  padding: 0.25rem;
}
th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Slides */
* {box-sizing:border-box}

/* Slideshow container */
.slides-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}