*{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
body{
    color: rgb(235, 232, 240);    
    margin: 3rem;

    display: grid;
    grid-template-areas: 
    "header     header      header      header"
    "bio        bio     bio     bio"
    "contact    contact     contact     contact"
    "projects   projects    projects        projects"
    "projects   projects    projects        projects"
    "footer     footer      footer      footer";

    font-family: 'Source Sans Pro, sans-serif';
}

@media screen and (min-width: 860px)
{
    body{
        grid-template-areas: 
        "header     header      header      header"
        "bio        bio         empty     contact"
        "projects   projects    projects     projects"
        "projects   projects    projects     projects"
        "footer     footer      footer      footer";
    }
}

@media screen and (max-width: 470px)
{
    .subpageLink {
        padding-left: 20%;
    }
}

header{
    background-color: #19234c;

    grid-area: header;

    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: -3rem;
    margin-bottom: 0.5rem;

    padding: 0.5rem;
    padding-bottom: 0.25rem;
}

.navigation {
    display: inline-grid;
    grid-template-columns: "projects" "academics" "about";
    column-gap: 0.5rem;
}

#title{
    margin-left: 0.5rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

/* Dropdown Button */
.dropbtn {
    background-color: #19234c;
    color: rgb(232, 229, 236);

    margin-left: 0.5rem;
    padding: 16px;
    padding-top: 5px;

    font-size: 20px;

    border: none;
    cursor: pointer;
    border-radius: 3px;

    width: 6rem;
    height: 2rem;

    grid-area: projects;
    grid-column-start: 0;
    grid-column-end: 1;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #19234c;
    color: rgb(232, 229, 236);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;

    background-color: #1f2b5a;
    border: #6358a1;

    border-radius: 5px;
    min-width: 160px;

    margin-left: 0.5rem;
    width: 10rem;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;

    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #1e2c5c;
      border-radius: 3px;
    }
  .show {display:block;}

  .subpageLink a{
    text-decoration: none;
    font-size: 20px;
  }

  #academics {
    grid-area: academics;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: -30px;
    margin-left: 27%;

  }

#bio{
    background-color: #1c2051e0;

    grid-area: bio;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 3px;

    padding: 0.5rem;

    text-align: center;
    font-size: 22px;
}

#contact{
    background-color: #1c2051e0;
    grid-area: contact;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 3px;

    padding: 0.5rem;
}

@media screen and (min-width: 860px){
    #contact{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        margin-left: 20rem;
        border-radius: 3px;
        width: 8rem;
        height: 6rem;
    
        padding: 0.5rem;
        padding-bottom: 2.75rem;
    }
}
#contact p{
    text-align: center;
    margin-bottom: 0.2rem;
}
#contact h3{
    font-size: 25px;
}

#projects{
    grid-area: projects;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;

    padding: 0.5rem;
}

.project {
    background-color: #1c2051e0;
    border-radius: 3px;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;

    padding: 1rem;

    text-align: center;
    height: 90%;
}

.project p, .project h4, .project img{
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.date{
    margin-top: 0.5rem;
}

#unity, #maya, #javascript, #misc{
    display: flex;
    flex-direction: column;
}

#neo-versailles {margin-left: -1rem; margin-right: -1rem;} 
@media screen and (min-width: 758px)
{
    #neo-versailles {margin-left: 30%;}
}

/* Standard Links */
a:link{
    color: #ca92ff;
} 
a:visited{
    color: #b993dd;
} 
a:focus{
    color: #b893fc;
} 
a:hover{
    color: rgb(208, 140, 240);
}
a:active{
    color: #e8acf0;
}

h1, h2, h3{
    font-family: 'Rowdies', cursive;
    font-weight: normal;
    font-size: 30px;
}

h2{
    margin-top: 4rem;
}

h4{
    font-size: 20px;
}

#contact h3{
    margin-top: -0.25rem;
}

#contact a:link, a:visited, a:focus {
    color: rgb(229, 228, 236);
}
#contact a:hover, a:active{
    color: rgb(189, 229, 253);
}

img{
    border-radius: 3px;
    border: #22305c;
    border-style: solid;
    border-width: 3px;
}

header img{
    float: right;
    width: 8rem;

    margin-bottom: -.25rem;
    margin-right: -.5rem;
    border-radius: 0px;
    border: none;
}

/* PROJECTS */
#projects h1{
    margin-top: -0.25rem;
}
#projects img{
    width: 100%;
}
@media screen and (min-width: 800px)
{
    #projects img{
        width: 160%;
    }
}
@media screen and (min-width: 758px){
    #projects img{
        width: 60%;
    }
}

#projects video {
    width: 100%;
    height: 100%;
}

.project a:link{
    color: rgb(229, 228, 236);
} 
.project a:visited{
    color: rgb(199, 202, 206);
} 
.project a:focus{
    color: rgb(235, 231, 241);
} 
.project a:hover{
    color: rgb(189, 229, 253);
}
.project a:active{
    color: rgb(176, 237, 255);
}

/* ACADEMICS */
#current, #programming, #math, #art {
    background-color: #1c2851;
    border-radius: 3px;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;

    padding-left: 0.5rem;
    padding-right: -0.5rem;
    padding-top: 0.001rem;
    padding-bottom: 0.001rem;
}

#current li, #programming li, #math li, #art li {
    font-size: 20px;
}

@media screen and (min-width: 900px)
{
    #coursework{
        margin-right: -0%;
    }
}

h1 a {
    font-family: 'Rowdies', cursive;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
}