/* SMALL SCREEN */
*{
  font-family: 'Source Sans Pro', sans-serif;
}
@media screen and (max-width: 641px)
{
  #contact{
    display: none;
  }

  .subpageLink {
    padding-left: 20%;
  }
}

/* MEDIUM TO LARGE SCREENS */
@media screen and (min-width: 641px)
{
  *{
    font-size: 20px;
  }

  #contactDropdown{
    display: none;
  }
  body{
    background-color: #15161a;
    background-image: url('../media/website_Background.png');background-size:cover;background-position: center; background-attachment: fixed; background-repeat: repeat-y;
  }
}

body{
  color: rgb(235, 232, 240);    
  margin: 3rem;

  display: grid;
  grid-template-areas: 
  "header     header      header      header"
  "bio        bio     bio     bio"
  "projects   projects    projects        projects"
  "projects   projects    projects        projects"
  "footer     footer      footer      footer";
  font-family: 'Source Sans Pro, sans-serif';
  background-color: #15161a;
  background-image: url('../media/website_Background.png');background-size:cover;background-position: center; background-attachment: fixed; background-repeat: repeat-y;
  font-size: 26px;
}

/* NAVIGATION */
header{
  background-color: #19414b;

  grid-area: header;

  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -3rem;
  margin-bottom: 0.5rem;

  padding: 0.5rem;
  padding-bottom: 0.4rem;
  font-size: 18px;
}

#navigation {
  
}

@media screen and (max-width: 641px)
{
  #navigation{
    text-align: center;
    font-size: 20px;
  }

  .dropdown-content
  {
    text-align: left;
  }
}

#navigation a{
  text-decoration: none;
  color: rgb(235, 232, 240); 
}

#navigation a:visited {
  color: rgb(235, 232, 240); 
}

#navigation a:link {
  color: rgb(235, 232, 240); 
} 
#navigation :focus{
  color: #b893fc;
} 
#navigation a:hover{
  color: rgb(208, 140, 240);
}
#navigation a:active{
  color: #e8acf0;
}

#title{
  margin-left: 0.5rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: #19414b;
  color: rgb(232, 229, 236);

  margin: 0.25rem;
  padding: 16px;
  padding-top: 5px;

  border: none;
  cursor: pointer;
  border-radius: 3px;

  width: 5rem;
  height: 2rem;

  grid-area: projects;
  grid-column-start: 0;
  grid-column-end: 1;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #12353d;
  color: rgb(232, 229, 236);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 0.02rem;
  z-index: 9999;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #12353d;
  border: #6358a1;

  border-radius: 5px;
  min-width: 140px;

  margin-left: 0.5rem;
  width: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;

  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4991a5;
  border-radius: 3px;
}
.show {display:block;}

/* TOOLTIPS */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 12px;
  background-color: #515264;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  top: 40px;
  left: -50%;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* SUBPAGGE LINKS */
.subpageLink a{
  text-decoration: none;
  font-size: 20px;
}
.subpageLink a:focus{
  text-decoration-line: underline;
} 
.subpageLink a:hover{
  text-decoration-line: underline;
}

/* STANDARD LINKS */
a{
  text-decoration: none;
}
a:link, a:visited{
  color: #f3b577;
} 
a:focus{
  color: #fcce93;
  text-decoration-line: underline;
} 
a:hover{
  color: rgb(244, 155, 87);
  text-decoration-line: underline;
}
a:active{
  color: #f0d8ac;
}

/* HEADERS */
h1, h2, h3, h4{
  font-family: 'Rowdies', cursive;
  font-weight: normal;
  font-size: 27px;
}

h2{
  margin-top: 4rem;
}

.info h4 {
  font-size: 24px;
}

h1 a {
  font-family: 'Rowdies', cursive;
  font-weight: normal;
  font-size: 27px;
  text-decoration: none;
}

/* BIO HEADER */
#bio h4{
  margin-bottom: 0.25rem;
}

#bio a{
  font-size: 20px;
  text-decoration: none;
}

/* IMAGE */
img{
  border-radius: 10px;
  border: #0a4c4c00;
  border-style: solid;
  border-width: 3px;
}

/* CONTACT */ 
#contact {
  grid-area: contact;
  text-align: right;
  margin-top: -2rem;
  padding-right: 1rem;
}

#contact h3{
  margin-top: -0.25rem;
}

#contact a:hover, a:active{
  color: rgb(189, 229, 253);
}

#contact a:visited, #contact a:link{
  color: rgb(232, 229, 236);
}

/* TABLE */
table-wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

table {
  width: 100%;
  background-color: #4991a5;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  text-align: left;
}

th {
  background-color: #4991a5;
}

tr:nth-of-type(2n)
{
  background-color: #2d747e;
}

@media (max-width: 650px) {

  th {
    display: none;
  }
  td {
    display: grid;
    grid-template-columns: 15ch auto;
  }

  th, td {
    padding: 0.5rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}

/* SLIDES */
* {box-sizing:border-box}

/* Slideshow container */
.slides-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 0;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next { /* Breaking tiny screen sizes */
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 60px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}
@media screen and (max-width: 640px)
{
  #navigation a{
    font-size: 18px;
    margin-right: 1rem;
  }
  .dropbtn {
    font-size: 18px;
  }
  #dropdownProjects
  {
    display:none;
  }
  .prev, .next {
    padding: 20px;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  
  text-decoration: none;
}

/* Caption text */
.text {
  position: relative;

  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}